body {
    font-family: 'PT Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.62;
}
a, button {
    transition: all .3s linear;
    color: #333;
    border-bottom: 1px solid #fff;
}
a:focus, a:hover {
    text-decoration: none;
    color: #333;
}
body {
    background: rgba(0,0,0,0.6);
}
.header-main-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    font-weight: bold;
}
.header-time {
    display: flex;
    align-items: center;
}
.logo-block-header img {
    width: 100%;
}
.logo-block-header {
    width: 240px;
}
.logo-block-header a {
    border-bottom: none;
}
.logo-block-header img {
    width: 100%;
}
.header-line-block {
    border-bottom: 3px solid #fff;
    position: absolute;
    top: 0;
    z-index: 11;
    width: 100%;
    color: #fff;
}
.header-line-block a {
    color: #fff;
}
.black-line-menu {
    border-top: 3px solid #fff;
}
.header-feedback a:hover {
    border-bottom: transparent;
}
.fancy-btn{
    position:relative;
    padding:10px 20px;
    border:2px solid #fff;
    color:#fff;
    font-size:20px;
    text-decoration:none;
    margin:10px auto;
    transition: color 0.4s;
    background-color: transparent;
}
.fancy-btn:after{
    content:" ";
    border: #fff;
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition:all 0.4s;
}
.fancy-btn:hover{
    color:#fff;
}
.fancy-btn:hover:after{
    border:2px solid #fff;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}
.header-order button {
    color: #fff;
    background-color: transparent;
    border-bottom: 2px dotted #fff;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    display: block;
    margin-top: 20px;
    margin-left: auto;
}
.header-order button:focus {
    outline: none;
}
.header-order button:hover {
    border-color: transparent;
}
.header-order {
    text-align: right;
}
.header-feedback a {
    font-size: 20px;
}

.header-address-block i {
    font-size: 20px;
    margin-right: 5px;
    width: 20px;
    text-align: center;
}
.header-address {
    display: flex;
}
.owl-feedback-form input, .form-control {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 2px;
    font-size: 16px;
}
button.close {
    position: relative;
    z-index: 1;
    right: 10px;
    top: 8px;
}
.header-address-block {
    width: 234px;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    border-bottom: none;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #333;
}
.navbar-default .navbar-nav > li > a:hover::before {
    animation: animate .5s linear forwards;
}
.navbar-default .navbar-nav > li > a:before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background: #333;
    transition: 0.5s;
}
.dropdown-menu li:last-child a {
    border-bottom: none;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #fff;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.owl-dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 10em;
    display: inline-block;
    margin: 10px;
    transition: background-color .5s ease, transform .5s ease;
}
.owl-dot.active {
    background-color: #fff;
    border: 2px solid #333;
    transform: scale(1.5);
}
.title-page h1:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background: #fff;
    top: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.title-page h1:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background: #fff;
    bottom: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.title-page {
    padding: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    color: #fff;
}
.goods-block-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}
.goods-main-img img {
    width: 100%;
}
.goods-block-item {
    width: 24%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all .3s linear;
}
.goods-block-item:hover {
    border-radius: 70%;
}
.good-main-link {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    top: 0;
}
.good-main-link a {
    color: #fff;
    border-bottom-color: #fff;
    font-weight: bold;
    text-align: center;
}
.good-main-link a:hover {
    border-bottom-color: transparent;
}
.good-main-link {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .3s linear;
}
.good-main-link:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 70%;
}
.button-center {
    text-align: center;
    margin-bottom: 40px;
}
.background-image-block {
    background-image: url("../images/about2.jpg");
    background-attachment: fixed;
    background-size: 100%;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
    position: relative;
}
.overlay-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
}
.background-image-block p, .background-image-block h3 {
    position: relative;
}
.background-image-block .button-center {
    margin: 20px 0;
}
.underline--magical {
    background-image: linear-gradient(120deg, #ffffff 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
    background-size: 100% 88%;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
    margin-bottom: 40px;
    filter: grayscale(1);
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}
.main-map-block {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}
.order-map-relative {
    position: relative;
}
.map-order-send {
    position: absolute;
    top: -380px;
    right: 0;
    background-color: #fff;
    padding: 15px;
}
.map-order-forms {
    border: 2px solid #333;
    padding: 15px;
}
.map-order-forms input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 2px;
    font-size: 16px;
}
.grey-line-page {
    background-color: #fafafa;
}
.flex-sale-cart-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.shares-cart-block-text h3 {
    font-size: 28px;
    margin-top: 0;
}
.big-pencent-shares {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 15px;
}
.shares-image-block img {
    width: 100%;
}
.footer-page {
    background-color: #333;
    padding: 40px 0;
    color: #fff;
    position: relative;
}
.footer-flex-block {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 242px;
}
.footer-logo img {
    width: 100%;
}
.footer-flex-block a {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}
.footer-logo a {
    border-bottom: none;
}
.footer-flex-block a:hover {
    text-decoration: underline;
}
.footer-time {
    width: 50px;
    margin-right: 10px;
}
.footer-address .social-block {
    display: flex;
}
.footer-address .social-block a {
    margin-right: 8px;
    font-size: 22px;
    border-bottom: none;
}
.footer-address-item i {
    margin-right: 5px;
}
.footer-copyright {
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.footer-copyright a {
    color: #fff;
}
.footer-pay-time {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer-copyright-big {
    font-size: 14px;
}
.owl-carousel, .goods-main-img {
    filter: grayscale(1);
}
.header-address a {
    border-bottom: none;
    text-decoration: underline;
}
.header-address a:hover {
    text-decoration: none;
}
.btn-footer-feedback .fancy-btn, .btn-footer-feedback .fancy-btn:after {
    border-color: #fff;
    text-align: center;
}
.btn-footer-feedback .fancy-btn:hover {
    color: #fff;
    text-decoration: none;
}
.owl-shares-item {
    padding: 0 15px;
}
.owl-shares-desk {
    height: 50px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.owl-shares {
    margin-bottom: 40px;
}
.breadcrumb {
    background-color: transparent;
    padding: 15px 0 15px 0;
}
.breadcrumb a, .breadcrumb span {
    color: #fff;
    padding: 0 2px;
    border-bottom: 1px solid #fff;
}
.breadcrumb > .active {
    color: #fff;
}
.breadcrumb a:hover {
    border-bottom: none;
}
#button-up {
    display: none;
    right: 0;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    width: 57px;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    background: url("../images/scrolltop.png") no-repeat 7px 11px transparent;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    cursor: pointer;
    z-index: 9;
    background-size: 50px;
}
#button-up span {
    display: block;
    width: 56px;
    height: 66px;
}
.flex-good-block-page {
    display: flex;
    justify-content: space-between;
}
.good-main-content-img img {
    width: 100%;
}
.good-main-content-img {
    width: 200px;
    float: right;
}
.aside-good-links {
    width: 22%;
}
.good-main-content {
    width: 76%;
    color: #fff;
}
.good-main-content a {
    color: #fff;
}
.roots-aside-block {
    padding-left: 0;
    list-style: none;
}
.roots-aside-block li {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 13px;
    border-bottom: 1px solid #fff;
}
.roots-aside-block li a {
    color: #fff;
    display: block;
}
.aside-title-block h2{
    margin: 0 0 20px 0;
    text-align: center;
    color: #fff;
}
.good-main-content table {
    width: 100%;
}
.good-main-content table td, .good-main-content table th {
    border: 1px solid #fff;
    padding: 7px;
}
.good-main-content table td a:hover {
    border-bottom: none;
}
.portfolio-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio-item {
    width: 32%;
    margin-bottom: 20px;
    position: relative;
}
.portfolio-item img {
    width: 100%;
}
.portfolio-item i {
    color: #fff;
    position: absolute;
    top: 15px;
    left: 15px;
    display: none;
    transition: all .3s linear;
}
.black-overlay {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.portfolio-item:hover i {
    transform: scale(1.8);
    transition: all .3s linear;
    display: block;
    z-index: 2;
}
.portfolio-item:hover .black-overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.order-send-content {
    position: initial;
}
.order-send-content {
    text-align: center;
}
.roots-aside-block li a:hover {
    text-decoration: underline;
}
.page-shares {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page-shares-item {
    width: 49%;
    filter: grayscale(1);
    padding: 0;
    margin-bottom: 20px;
}
.page-shares-item img {
    width: 100%;
}
.page-shares-item .owl-shares-desk {
    height: auto;
}
.blog-author span {
    font-weight: bold;
}
.blog-author {
    margin-bottom: 20px;
    text-align: right;
    color: #fff;
}
.news-block {
    border: 1px solid #fff;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    color: #fff;
}
.news-block a {
    color: #fff;
}
.blog-content {
    color: #fff;
}
.news-block-img {
    width: 25%;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}
.news-block-img img {
    max-width: 100%;
    max-height: 100%;
}
.news-block-body {
    width: 75%;
    text-align: left;
    padding: 0 10px;
}
.news-block-body h3 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
.read-later:hover, .news-block-body h3 a {
    border-bottom: none;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.ditto_currentpage {
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    padding: 5px 10px;
    margin-right: 2px;
    border-radius: 4px;
}
.ditto_page {
    padding: 4.5px 10px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 4px;
}
.ditto_page:hover {
    background-color: #fff;
}
.price-list-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-left: 0;
}
.price-list-links li {
    list-style: none;
}
.price-list-links li a {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}
.price-list-links li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background: #333;
    transition: 0.5s;
}
.price-list-links li a:hover {
    color: #fff;
}
.price-list-links li a:hover::before {
    animation: animate .5s linear forwards;
}
.price-block-content table {
    width: 100%;
}
.price-block-content table td, .price-block-content table th {
    border: 1px solid #fff;
    padding: 7px;
}
.price-block-content a:hover {
    border-bottom: none;
}
.black-line-menu {
    display: none;
}
.black-line-menu.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
    border-bottom: 3px solid #333;
    background-color: rgba(0,0,0,0.6);
    border-top: none;
    display: block;
}
.black-line-menu.fixed a {
    color: #333;
}
.video-background {
    background: #000;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
#vidtop-content {
    top: 0;
}
.overlay-video {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.main-page-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 300px;
    position: absolute;
    color: #fff;
}
.main-page-title h1:before, .main-page-title h1:after {
    background: #fff;
}
.background-image-block .button-center .fancy-btn, .background-image-block .button-center .fancy-btn:after, .grey-line-page .fancy-btn, .grey-line-page .fancy-btn:after {
    color: #333;
    border-color: #333;
}
.element-with-video-bg .button-center {
    position: absolute;
    width: 100%;
    top: 444px;
}
.element-with-video-bg {
    position: relative; 
    overflow: hidden;
}
.element-with-video-bg video {
    width: 100%;
}
.main-arrow-down i {
    color: #fff;
    font-size: 40px;
}
.main-arrow-down a {
    text-decoration: none;
    border-bottom: none;
}
.main-arrow-down {
    position: absolute;
    bottom: 140px;
    z-index: 99;
    left: calc(50% - 34px);
}
.actions-social {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    width: 1170px;
    margin: auto auto 40px auto;
}
.actions-social .social-block {
    justify-content: center;
}
.actions-social a {
    color: #fff;
    font-size: 30px;
    border-color: #fff;
    transition: all .3s linear;
    border: none;
}
.actions-social a i {
    transition: all .3s linear;
}
.actions-social a:hover i {
    text-shadow: 0px 0px 4px #fff;
}
.actions-social i {
    margin-left: 5px;
}
.sign-up-flex {
    display: flex;
    justify-content: space-between;
}
.sign-up-title {
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}
.sign-up-block {
    background: linear-gradient(45deg, black, transparent);
    padding: 40px 0;
}
.sign-up-flex-item-title {
    color: #fff;
}
.sign-up-flex-item {
    width: 20%;
}
.sign-up-flex-item-input input {
    width: 100%;
}
.header-no-main-page {
    position: initial;
}
.price-block-content { 
    color: #fff;
}
.price-block-content a {
    color: #fff;
}
.header-feedback .social-block a {
    border-bottom: none;
    font-size: 30px;
    margin: 0 5px;
}
@media (min-aspect-ratio: 16/9) {
 .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
 .video-foreground { width: 300%; left: -100%; }
}
@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 1199px) {
    .footer-logo {
        width: 188px;
    }
    .actions-social {
        width: 970px;
    }
}
@media (max-width: 991px) {
    .header-main-page {
        flex-wrap: wrap;
    }
    .header-order {
        width: 100%;
        text-align: center;
        margin: 20px 0px;
    }
    .header-order button {
        display: block;
        margin: 20px auto 0 auto;
    }
    .header-order .fancy-btn {
        display: initial;
    }
    .footer-flex-block {
        flex-wrap: wrap;
    }
    .footer-logo {
        margin-right: 12px;
    }
    .main-page-title {
        top: 390px;
    }
    .element-with-video-bg .button-center {
        top: 500px;
    }
    .actions-social {
        width: 750px;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
        margin-bottom: 15px;
        border: none;
    }
    .navbar-default .navbar-toggle {
        border: none;
        margin: 10px 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
        position: relative;
        width: 50px;
        height: 6px;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    .header-main-page {
        flex-wrap: wrap;
    }
    .header-feedback, .header-order {
        width: 50%;
    }
    .header-order button {
        margin: 20px 0 0 auto;
    }
    .header-order {
        text-align: right;
    }
    .header-address {
        display: block;
        text-align: right;
    }
    .header-time {
        justify-content: flex-end;
    }
    .header-address-block i {
         margin: auto;
    }
    .header-time-img .fa-clock-o {
        margin-right: 5px;
    }
    .logo-block-header {
        width: 48%;
    }
    .goods-block-item {
        width: 48%;
    }
    .map-order-send {
        display: none;
    }
    .shares-image-block {
        width: 200px;
    }
    .footer-logo {
        width: 240px;
    }
    .aside-good-links {
        width: 28%;
    }
    .good-main-content {
        width: 70%;
    }
    .element-with-video-bg {
        display: none;
    }
    .main-page-title, .header-line-block, .element-with-video-bg .button-center {
        position: inherit;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .actions-social {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
    }
    .sign-up-flex {
        flex-wrap: wrap;
    }
    .sign-up-flex-item {
        width: 100%;
    }
}
@media (max-width: 550px) {
    .footer-links {
        width: 50%;
        margin-bottom: 15px;
    }
    .footer-logo {
        width: 100%;
        margin-bottom: 15px;
    }
    .flex-good-block-page {
        flex-direction: column-reverse;
    }
    .good-main-content, .aside-good-links {
        width: 100%;
    }
    .good-main-content table td, .good-main-content table th {
        font-size: 14px;
    }
    .portfolio-item {
        width: 48%;
    }
    .good-main-content-img {
        width: 140px;
    }
    .news-block {
        flex-direction: column;
    }
    .news-block-img, .news-block-body {
        width: 100%;
    }
    .read-later-block {
        margin-bottom: 30px;
    }
    .price-block-content table {
        font-size: 14px;
    }
    .price-block-content table td, .price-block-content table th {
        padding: 3px;
    }
}
@media(max-width: 478px) {
    .header-feedback, .header-order {
        width: 100%;
        text-align: center;
    }
    .logo-block-header {
        width: 100%;
        margin-bottom: 15px;
    }
    .header-order .fancy-btn {
        display: block;
        text-align: center;
    }
    .header-order button {
        margin: 20px auto 0 auto;
    }
    .header-time {
        justify-content: center;
        margin: 10px 0;
    }
    .header-address {
        display: block;
        text-align: center;
    }

    .header-address-block {
        width: 100%;
    }
    .flex-sale-cart-block {
        flex-direction: column;
    }
    .shares-image-block {
        display: none;
    }
    .footer-pay-time {
        width: 100%;
    }
    .owl-shares-item {
        padding: 0;
    }
    .page-shares-item {
        width: 100%;
    }
}